.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196f3;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height: 600px;
}

.items_box {
    grid-column-start: 1;
    grid-column-end: 3;
}
.images_contain {
    display: grid;
    grid-template-columns: auto auto auto;
}
.images_contain > img {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.images_contain > img:hover {
    animation: imageRotate 0.3s;
}

@keyframes imageRotate {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.result_container {
    display: grid;
    grid-template-columns: auto auto;
}
.hidden {
    display: none;
}

button {
    margin-left: auto;
    height: 40px;
    background-color: rgb(14, 165, 115);
    color: aliceblue;
    font-weight: bolder;
    font-size: large;
    border-radius: 4px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.img-items,
.img-cpu-choosed {
    width: 170px;
    height: 170px;
}

hr {
    border: 3px solid #2196f3;
}

@media (max-width: 480px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, minmax(70px, 1fr));
        grid-template-rows: auto;
        grid-gap: 10px;
        background-color: #2196f3;
        padding: 10px;
    }
    .img-items,
    .img-cpu-choosed {
        width: 60px;
        height: 60px;
    }
    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
        padding: 5px 0;
        font-size: 10px;
        height: 85vh;
    }

    hr {
        width: 100%;
        border: 5px solid #2196f3;
    }

    .items_box h3 {
        font-size: large;
    }

    .images_contain {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .result_box {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .result_container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, minmax(120px, 1fr));
        grid-template-rows: auto;
        grid-gap: 10px;
        background-color: #2196f3;
        padding: 10px;
    }
    .img-items,
    .img-cpu-choosed {
        width: 80px;
        height: 80px;
    }
    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
        padding: 5px 0;
        font-size: 10px;
        height: 85vh;
    }

    hr {
        width: 100%;
        border: 5px solid #2196f3;
    }

    .items_box h3 {
        font-size: large;
    }

    .images_contain {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .result_box {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .result_container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, minmax(120px, 1fr));
        grid-template-rows: auto;
        grid-gap: 10px;
        background-color: #2196f3;
        padding: 10px;
    }
    .img-items,
    .img-cpu-choosed {
        width: 120px;
        height: 120px;
    }
    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
        padding: 5px 0;
        font-size: 15px;
        height: 85vh;
    }

    hr {
        width: 100%;
        border: 5px solid #2196f3;
    }

    .items_box h3 {
        font-size: large;
    }

    .images_contain {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .result_box {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .result_container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, minmax(120px, 1fr));
        grid-template-rows: auto;
        grid-gap: 10px;
        background-color: #2196f3;
        padding: 10px;
    }
    .img-items,
    .img-cpu-choosed {
        width: 130px;
        height: 130px;
    }
    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
        padding: 5px 0;
        font-size: 15px;
        height: 85vh;
    }

    hr {
        width: 100%;
        border: 5px solid #2196f3;
    }

    .items_box h3 {
        font-size: 1.5rem;
        margin-top: 0;
    }

    .images_contain {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .result_box {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .result_container {
        display: flex;
        flex-direction: column;
    }
}
